@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

c-select-image input ~ label::after,
.c-select-image input:checked ~ label::before {
  display: none !important;
  content: none !important;
}
.bg-custom-gradient {
  background: linear-gradient(112.06deg, #C289FF -6.95%, #5555FF 59.24%);
}